## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Import the dependencies:
import gmaps
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import random
import requests
import time
import timeit
from citipy import citipy
from config import appid, g_key
from datetime import datetime
from scipy.stats import linregress

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
path = "/Users/diegoperezo97/Documents/Tecnológico de Monterrey – Data Analytics Boot Camp/world-weather-analysis/Module 6/Challenge 6/Weather Database/WeatherPy_database.csv"
city_data_df = pd.read_csv(path)
city_data_df.head()

,City_ID,City_ID.1,Country,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,0,US,Barrow,71.2906,-156.7887,-20.18,69,0,6.91,broken clouds
1,1,1,CD,Manono,-7.3000,27.4167,71.01,96,100,3.06,broken clouds
2,2,2,CL,Punta Arenas,-53.1500,-70.9167,53.71,66,75,10.36,few clouds
3,3,3,RU,Beringovskiy,63.0500,179.3167,-2.20,84,43,19.33,scattered clouds
4,4,4,CA,Yellowknife,62.4560,-114.3525,-35.72,78,40,6.91,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maxmimumx temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 1
What is the maxmimumx temperature you would like for your trip? 150

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City_ID.1,Country,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,1,CD,Manono,-7.3000,27.4167,71.01,96,100,3.06,broken clouds
2,2,2,CL,Punta Arenas,-53.1500,-70.9167,53.71,66,75,10.36,few clouds
5,5,5,AU,Busselton,-33.6500,115.3333,68.04,52,99,20.89,overcast clouds
6,6,6,TO,Vaini,-21.2000,-175.2000,73.56,100,40,1.14,scattered clouds
7,7,7,US,Kapaa,22.0752,-159.3190,67.12,83,100,1.01,scattered clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City_ID.1              0
Country                4
City                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = np.nan
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Manono,CD,71.01,broken clouds,-7.3000,27.4167,NaN
2,Punta Arenas,CL,53.71,few clouds,-53.1500,-70.9167,NaN
5,Busselton,AU,68.04,overcast clouds,-33.6500,115.3333,NaN
6,Vaini,TO,73.56,scattered clouds,-21.2000,-175.2000,NaN
7,Kapaa,US,67.12,scattered clouds,22.0752,-159.3190,NaN
8,Grindavik,IS,30.15,scattered clouds,63.8424,-22.4338,NaN
10,Evensk,RU,19.49,few clouds,61.9500,159.2333,NaN
11,Binucayan,PH,70.93,few clouds,8.2500,125.7167,NaN
12,Nanortalik,GL,6.49,clear sky,60.1432,-45.2371,NaN
13,Ushuaia,AR,47.82,light rain,-54.8000,-68.3000,NaN

In [8]:
count = 1

# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    params["location"] = f"{lat},{lng}"

    # 6e. Make request and retrieve the JSON data from the search. 
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print(count)
        count += 1
        print("Hotel not found... skipping.")

1
Hotel not found... skipping.
2
Hotel not found... skipping.
3
Hotel not found... skipping.
4
Hotel not found... skipping.
5
Hotel not found... skipping.
6
Hotel not found... skipping.
7
Hotel not found... skipping.
8
Hotel not found... skipping.
9
Hotel not found... skipping.
10
Hotel not found... skipping.
11
Hotel not found... skipping.
12
Hotel not found... skipping.
13
Hotel not found... skipping.
14
Hotel not found... skipping.
15
Hotel not found... skipping.
16
Hotel not found... skipping.
17
Hotel not found... skipping.
18
Hotel not found... skipping.
19
Hotel not found... skipping.
20
Hotel not found... skipping.
21
Hotel not found... skipping.
22
Hotel not found... skipping.
23
Hotel not found... skipping.
24
Hotel not found... skipping.
25
Hotel not found... skipping.
26
Hotel not found... skipping.
27
Hotel not found... skipping.
28
Hotel not found... skipping.
29
Hotel not found... skipping.
30
Hotel not found... skipping.
31
Hotel not found... skipping.
32
Hotel not found... skipping.
33
Hotel not found... skipping.
34
Hotel not found... skipping.
35
Hotel not found... skipping.
36
Hotel not found... skipping.
37
Hotel not found... skipping.
38
Hotel not found... skipping.
39
Hotel not found... skipping.
40
Hotel not found... skipping.
41
Hotel not found... skipping.
42
Hotel not found... skipping.
43
Hotel not found... skipping.
44
Hotel not found... skipping.
45
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "/Users/diegoperezo97/Documents/Tecnológico de Monterrey – Data Analytics Boot Camp/world-weather-analysis/Module 6/Challenge 6/Vacation Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """ 
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} ºF</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))